%fira-regular{
    font-family: 'FiraSans-Regular', sans-serif;
    font-weight: 400;
}

%circe-regular{
    font-family: 'circe', sans-serif;
    font-weight: 400;
}

%circe-extrabold{
    font-family: 'circe_extrabold', sans-serif;
    font-weight: 900;
}

%circe-bold{
    font-family: 'circe_bold', sans-serif;
    font-weight: 700;
}

$persimmon: #FF6550;
$pot-pourri: #F4E9DF;
$ebony: #101223;
$ebony-clay: #282A3A;
$gun-powder: #404252;
$mid-gray: #5B5D6B;
$athens-gray: #F3F4F8;
$mischka: #D2D4DA;
